{% extends 'back.html.twig' %}

{% block title %}Remboursement index{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-12">

      <div class="d-flex justify-content-end mb-3">
        <form class="input-group" method="get">
         <input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/>
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
					<script>
						$(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#rs tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                         })
                        });
					</script>
 <div class="ms-3">
          <a href="{{ path('app_remboursement_index', {'sort': 'idrem'}) }}" class="btn btn-outline-primary">Trier par id remboursement</a>
        </div>
         <div class="ms-3">
          <a href="{{ path('app_remboursement_index', {'sort': 'idt'}) }}" class="btn btn-outline-primary">Trier par id ticket</a>
        </div>
         <div class="ms-3">
          <a href="{{ path('app_remboursement_index', {'sort': 'idu'}) }}" class="btn btn-outline-primary">Trier par id user</a>
        </div>
        <div class="ms-3">
          <a href="{{ path('app_remboursement_index', {'sort': 'dc'}) }}" class="btn btn-outline-primary">Trier par Decision</a>
        </div>
  
       
        
      </div>
  {# //NOTIF     #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# Le reste de votre code Twig ici #}

    {# <table class="table"> #}
   <div class="table-responsive">
        <table class="table table-striped" id='rs'>
        <thead>
             <tr class="table-secondary">
           
                 <th>Id Remboursement</th>
                 <th>Id  Ticket</th>
                  <th>Id  user</th>


             {# <th>actions</th> #}
             <th>Decision</th>
                 {# <th>Decision</th> #}
            </tr>
        </thead>
        <tbody>
        {% for remboursement in pagination %}
        
            <tr>

         <td>{{ remboursement.idrem }}</td>
         <td>{{ remboursement.idt }}</td>
        <td>{{ remboursement.idu? '45' : '45' }}</td>
        <td>{{ remboursement.dc ? remboursement.dc : 'false' }}</td>
                
              
                
                <td>
<a href="{{ path('app_remboursement_accepter', {'idrem': remboursement.idrem}) }}"><button  class="btn btn-primary">Accepter</button></a>  
 <br> <br></td> <form method="post" action="{{ path('app_remboursement_delete', {'idrem': remboursement.idrem}) }}" onsubmit="return confirm('Are you sure you want to delete this refund?');">
   <td> <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ remboursement.idrem) }}"> 
   
    <button class="btn btn-primary">refuser</button>
</form>


                   
    
                  </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      <div class="pagination">
    {{ knp_pagination_render(pagination) }}
</div>
     <button   class="btn btn-primary" id="showPdfButton">See your Refunds</button>
    <script>
    document.getElementById('showPdfButton').addEventListener('click', function () {
        window.open("{{ path('api_generate_pdf') }}", "_blank");
    });
</script>
    {# <a href="{{ path('app_remboursement_new') }}"class="btn btn-info px-3 py-1">Create new</a> #}
{% endblock %}
