{% extends 'back.html.twig' %}

{% block title %}Remboursement index{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-12">

      <div class="d-flex justify-content-end mb-3">
        <form class="input-group" method="get">
          <input type="text" class="form-control me-2" name="search" placeholder="Rechercher par id remboursement ou id ticket  ">
          <button type="submit" class="btn btn-outline-primary">Rechercher</button>
        </form>
 <div class="ms-3">
          <a href="{{ path('app_remboursement_index', {'sort': 'idrem'}) }}" class="btn btn-outline-primary">Trier par id remboursement</a>
        </div>
         <div class="ms-3">
          <a href="{{ path('app_remboursement_index', {'sort': 'idt'}) }}" class="btn btn-outline-primary">Trier par id ticket</a>
        </div>
         <div class="ms-3">
          <a href="{{ path('app_remboursement_index', {'sort': 'idu'}) }}" class="btn btn-outline-primary">Trier par id user</a>
        </div>
        <div class="ms-3">
          <a href="{{ path('app_remboursement_index', {'sort': 'dc'}) }}" class="btn btn-outline-primary">Trier par Decision</a>
        </div>
  
       
        
      </div>

    {# <table class="table"> #}
   <div class="table-responsive">
        <table class="table table-striped">
        <thead>
             <tr class="table-secondary">
           
                 <th>Id Remboursement</th>
                 <th>Id  Ticket</th>
                  <th>Id  user</th>


             {# <th>actions</th> #}
             <th>Decision</th>
                 {# <th>Decision</th> #}
            </tr>
        </thead>
        <tbody>
        {% for remboursement in remboursements %}
            <tr>

         <td>{{ remboursement.idrem }}</td>
         <td>{{ remboursement.idt }}</td>
        <td>{{ remboursement.idu? '45' : '45' }}</td>
        <td>{{ remboursement.dc ? remboursement.dc : 'false' }}</td>
                
              
                
                <td>
<a href="{{ path('app_remboursement_accepter', {'idrem': remboursement.idrem}) }}"><button  class="btn btn-primary">Accepter</button></a>  
 <br> <br></td> <form method="post" action="{{ path('app_remboursement_delete', {'idrem': remboursement.idrem}) }}" onsubmit="return confirm('Are you sure you want to delete this refund?');">
   <td> <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ remboursement.idrem) }}"> 
    <button class="btn btn-primary">refuser</button>
</form>


                   
    
                  </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_remboursement_new') }}"class="btn btn-info px-3 py-1">Create new</a> #}
{% endblock %}
