{% extends 'Back.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
	
{% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

<div class="row">
    <div class="col-md-12">

      <div class="d-flex justify-content-end mb-3">
        <form class="input-group" method="get">
         <input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/>
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
					<script>
						$(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#rs tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                         })
                        });
					</script>
        </form>

        <div class="ms-3">
          <a href="{{ path('app_evenement_index', {'sort': 'nomev'}) }}" class="btn btn-outline-primary">Trier par nomev</a>
        </div>

        <div class="ms-3">
          <a href="{{ path('app_evenement_index', {'sort': 'datedev'}) }}" class="btn btn-outline-primary">Trier par datedev</a>
        </div>
         <div class="ms-3">
          <a href="{{ path('app_evenement_index', {'sort': 'localisation'}) }}" class="btn btn-outline-primary">Trier par localisation</a>
        </div>
      </div>


    <div class="table-responsive">
        <table class="table table-striped" id="rs">
        <thead>
            <tr class="table-secondary">
                <th scope="col">Idev</th>
                <th scope="col">Nomev</th>
                <th scope="col">Datedev</th>
                <th scope="col">Datefev</th>
                <th scope="col">Localisation</th>
                <th scope="col">Imageev</th>
                <th scope="col">actions</th>
                </tr>
        </thead>
 <tbody>
    
            {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.idev }}</td>
                <td>{{ evenement.nomev }}</td>
                <td>{{ evenement.datedev}}</td>
                <td>{{ evenement.datefev}}</td>
                <td>{{ evenement.localisation }}</td>
       <td>
    <img src="{{ asset('uploads/' ~ evenement.imageev) }}" style="width:150px; height:150px; border-radius:5px;" alt=""/>
</td>
                <td>
                <div class="d-flex justify-content-center">
                     <a href="{{ path('app_evenement_show', {'idev': evenement.idev}) }}"class="btn btn-primary me-2 "><i class="fas fa-eye"></i> show</a>
                    <a href="{{ path('app_evenement_edit', {'idev': evenement.idev}) }}"class="btn btn-success me-2"><i class="fas fa-edit"></i> edit</a>
                    <a >{{ include('evenement/_delete_form.html.twig') }}</a>
                    <a href="{{ path('app_evenement_map', {'idev': evenement.idev}) }}" class="btn btn-info rounded-pill m-2" ><i class="fas fa-location-arrow"></i></a>
                    <td><a href="{{ path('app_qr_codes', {'id': evenement.idev}) }}" class="btn btn-primary px-3 py-1">qr code</a></td>
                  </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
<div class="d-flex justify-content-center">
    <a href="{{ path('app_evenement_new') }}" class="btn btn-primary px-3 py-1"> <i class="fas fa-plus"></i>Create new</a>
     <a href="{{ path('generator_service') }}" class="btn btn-primary px-3 py-1"> <i class="fas fa-plus"></i>PDF</a>
    </div>
  </div>
{% endblock %}

