{% extends 'back.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
<form method="post" class="forms-sample" style="margin-left: -42px ;margin-top:20px;" >
                            <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="nomev">nomev</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="datedev" >datedev</label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="datefev" >datefev</label>
                                </div>
                                 <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="localisation" >localisation</label>
                                </div>

                                <button type="Submit" class="btn btn-success btn-fw" style="margin: auto; background-color:#009cff; ">Trier</button>
                            </div>
                        </form>

                    </div>
                    <br>
                    

    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idev</th>
                <th>Nomev</th>
                <th>Datedev</th>
                <th>Datefev</th>
                <th>Localisation</th>
                <th>Imageev</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.idev }}</td>
                <td>{{ evenement.nomev }}</td>
                <td>{{ evenement.datedev}}</td>
                <td>{{ evenement.datefev}}</td>
                <td>{{ evenement.localisation }}</td>
                <td><img src="{{ asset('uploads/' ~evenement.imageev) }}" style=" width:150px; height:150px; " alt=""/></td>
                <td>
                    <a href="{{ path('app_evenement_show', {'idev': evenement.idev}) }}"class="btn btn-info px-3 py-1">show</a>
                    <a href="{{ path('app_evenement_edit', {'idev': evenement.idev}) }}"class="btn btn-primary px-3 py-1">edit</a>
                 <a >{{ include('evenement/_delete_form.html.twig') }}</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}" class="btn btn-primary px-3 py-1">Create new</a>
{% endblock %}
