{% extends 'Back.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idev</th>
                <td>{{ evenement.idev }}</td>
            </tr>
            <tr>
                <th>Nomev</th>
                <td>{{ evenement.nomev }}</td>
            </tr>
            <tr>
                <th>Datedev</th>
                <td>{{ evenement.datedev }}</td>
            </tr>
            <tr>
                <th>Datefev</th>
                <td>{{ evenement.datefev }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ evenement.localisation }}</td>
            </tr>
            <tr>
                <th>Imageev</th>
                <td>{{ evenement.imageev }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'idev': evenement.idev}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
