{% extends 'back.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
   <div class="row">
    <div class="col-md-12">

      <div class="d-flex justify-content-end mb-3">
        <form class="input-group" method="get">
        <input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/>
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
					<script>
						$(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#rs tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                         })
                        });
					</script>
  <div class="ms-3">
          <a href="{{ path('app_ticket_index', {'sort': 'idt'}) }}" class="btn btn-outline-primary">Trier par id ticket</a>
        </div>
        <div class="ms-3">
          <a href="{{ path('app_ticket_index', {'sort': 'prixt'}) }}" class="btn btn-outline-primary">Trier par prix ticket</a>
        </div>
 <div class="ms-3">
          <a href="{{ path('app_ticket_index', {'sort': 'etat'}) }}" class="btn btn-outline-primary">Trier par etat</a>
        </div>
       
       
      </div>
    {# <table class="table"> #}
      <div class="table-responsive">
        <table class="table table-striped" id='rs'>
        <thead>
            <tr class="table-secondary">
                <th>Idt</th>
                <th>Prixt</th>
                <th>Nomev</th>
                <th>Etat</th>
                  <th>actions</th>
            </tr>
        </thead>
        <tbody>
       {% for ticket in pagination %}
            <tr>
                <td>{{ ticket.idt }}</td>
                <td>{{ ticket.prixt }}</td>
                <td>{{ ticket.idev }}</td>
                <td>{{ ticket.etat ? '1' : '0' }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'idt': ticket.idt}) }}"class="btn btn-info px-3 py-1">show</a>
                    <a href="{{ path('app_ticket_edit', {'idt': ticket.idt}) }}"class="btn btn-info px-3 py-1">edit</a>

<td><a href="{{ path('app_qr_codes', {'idt': ticket.idt}) }}" class="btn btn-primary px-3 py-1">qr code</a></td>
 
           
  
                    
                </td>



                
                <td> 
                
                
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div 
    {# templates/ticket/index.html.twig #}
<div class="pagination">
    {{ knp_pagination_render(pagination) }}
</div>

</div>





    <a href="{{ path('app_ticket_new') }}"class="btn btn-info px-3 py-1">Create new</a>
        <button   class="btn btn-primary" id="showPdfButton">See your Tickets</button>
    <script>
    document.getElementById('showPdfButton').addEventListener('click', function () {
        window.open("{{ path('api_generate_pdf') }}", "_blank");
    });
</script>
{% endblock %}
