{% extends 'Front.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <div class="row">
    {% for video in videos %}
<div class="col-md-4 mb-4 mx-auto">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" controls data-src="../{{ video.url }}">
            <source src="../../../uploads/{{ video.url }}" type="video/mp4">
          </video>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ video.nomvid }}</h5>
                    {{ include('video/_delete.html.twig') }}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container mt-5 mb-5">
  <h1 class="mb-4">Liste des commentaires</h1>
  <div class="row">
    <div class="col-md-8">
      {% if comments|length > 0 %}
      <table class="table">
        <tbody>
          {% for comment in comments %}
          <tr>
            <td class="email">{{ comment.email }}</td>
          </tr>
          <tr>
            <td></td>
            {# Commentaire en bleu #}
            <td class="name-comment"><span>{{ comment.name }} a commenté : <span style="color:blue" class="comment">{{ comment.comment }}</span></span></td>
          </tr>
          
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Aucun commentaire pour le moment.</p>
      {% endif %}
    </div>
    <div class="col-md-4">
      <h1 class="mb-4">Nouveau commentaire</h1>
      {{ form_start(form) }}
      {{ form_row(form.name, { 'label': 'Nom', 'attr': {'class': 'form-control'} }) }}
      {{ form_row(form.email, { 'label': 'Email', 'attr': {'class': 'form-control'} }) }}
      {{ form_row(form.comment, { 'label': 'Commentaire', 'attr': {'class': 'form-control'} }) }}
      <button type="submit" class="btn btn-primary mt-3">Valider</button>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
