{% extends 'Back.html.twig' %}


{% block body %}
  <div class="row">
    <div class="col-md-12">
   <div class="d-flex justify-content-end mb-3">
          <form action="{{ path('app_video_index') }}" method="get">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Find by idvid, nomvid ou url" name="searchQuery" value="{{ app.request.query.get('searchQuery') }}">
        <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
</form>

        <div class="ms-3">
          <a href="{{ path('app_video_index', {'sort': 'idvid'}) }}" class="btn btn-outline-primary">Sort By idvid</a>
        </div>

        <div class="ms-3">
          <a href="{{ path('app_video_index', {'sort': 'nomvid'}) }}" class="btn btn-outline-primary">Sort By nomvid</a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="table-secondary">
              <th scope="col">Idvid</th>
              <th scope="col">Name video</th>
              <th scope="col">Url</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for video in videos %}
            <tr>
              <td>{{ video.idvid }}</td>
              <td>{{ video.nomvid }}</td>
              <td>
                <video width="150" height="150" controls>
                  <source src="{{ asset('uploads/' ~ video.url) }}" type="video/mp4">
                  <source src="{{ asset('uploads/' ~ video.url) }}" type="video/webm">
                  Your browser does not support the video tag.
                </video>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <a href="{{ path('app_video_show', {'idvid': video.idvid}) }}" class="btn btn-primary me-2"><i class="fas fa-eye"></i> Show</a>
                  <a href="{{ path('app_video_edit', {'idvid': video.idvid}) }}" class="btn btn-success me-2"><i class="fas fa-edit"></i> Edit</a>
                  {{ include('video/_delete_form.html.twig') }}
                </div>
              </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="4">No records found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center">
        <a href="{{ path('app_video_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Add Video</a>
      </div>
    </div>
  </div>
{% endblock %}
