{% extends 'back.html.twig' %}


{% block title %}Planning index{% endblock %}

{% block body %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
<form method="post" class="forms-sample" style="margin-left: -42px ;margin-top:20px;" >
                            <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="hour">hour</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="nomactivite" >nomactivite</label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="datepl" >datepl</label>
                                </div>
                                 

                                <button type="Submit" class="btn btn-success btn-secondary" style="margin: auto; background-color:#009cff; ">Trier</button>
                            </div>
                        </form>

                    </div>
                    <br>
                    <div class="col-lg-17">
 <div class="card">
 <div class="card-body">
 <ul class="navbar-nav w-100" style="margin-top: 15px;">
                <ul class="navbar-nav w-100" style="margin-top:3px;">
                        <li class="nav-item w-100">
                
            <div class="row" style="display: flex;align-items: center;justify-content: center;margin-top :40px">
 
                            <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="display: flex">
                                <div class="form-group col-md-5">

                                    <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #1392fd; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
                                        <option value="">Choisi un Critére</option>
                                        <option value="hour">hour</option>
                                        <option value="nomactivite">nomactivite</option>
                                        <option value="datepl">datepl</option>
    
                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <div class="input-group">
                                        <input name="Search" type="text" class="form-control" placeholder="Recherche" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-primary" type="Submit">Chercher</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                  
    

    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th>Idp</th>
                <th>Hour</th>
                <th>Nomactivite</th>
                <th>Datepl</th>
                 <th>NomEv</th>
                <th>actions</th>
                
            </tr>
        </thead>
        <tbody>
        <br>
       <div class="input-group custom-search-form">
<div class="search-box">
<button class="btn-search"><i class="fas fa-search"></i></button>
<input type="text" name="search" id="search" class="input-search" placeholder="Type to Search...">


        {% for planning in plannings %}
            <tr>
                <td>{{ planning.idp }}</td>
                <td>{{ planning.hour }}</td>
                <td>{{ planning.nomactivite }}</td>
                <td>{{ planning.datepl }}</td>
                <td>{{ planning.idev }}</td>

                <td>
                
               <div class="d-flex justify-content-center">
                   <a href="{{ path('app_planning_show', {'idp': planning.idp}) }}"class="btn btn-primary px-3 py-1">show</a>
                      <a href="{{ path('app_planning_edit', {'idp': planning.idp}) }}"class="btn btn-primary px-3 py-1">edit</a> 
                     <a>{{ include('planning/_delete_form.html.twig') }}</a>
                    </div> 
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planning_new') }}" class="btn btn-primary px-3 py-1"style="width:160px;" >Create new</a>
{% endblock %}




