{% extends 'front.html.twig' %}

{% block title %}ticket index{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_row(form.nombre) }}
{{ form_row(form.save) }}
{{ form_end(form) }}



{% if prixTotal is defined %}
    <p>Prix total : {{ prixTotal }} euros</p>
{% endif %}

      
{#affichage #}

        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




  







{% endblock %}



