<div class="d-flex justify-content-center">
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        {{ form_label(form.username, 'Nom de Espace talent :') }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control border-primary'}}) }}
        {{ form_errors(form.username) }}
      </div>

     <hr>

      <div class="form-group">
        {{ form_label(form.idcat, 'Nom de categorie :') }}
        {{ form_widget(form.idcat, {'attr': {'class': 'form-control border-primary'}}) }}
        {{ form_errors(form.idcat) }}
      </div>

      <hr>
      
 
 
          <p>Current User: {{ form.vars.value.idu }}</p>


    </div>

    <div class="col-md-6">

      <div class="form-group">
  {{ form_label(form.image, 'Image de couverture :') }}
  {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
  {{ form_errors(form.image) }}
</div>

    </div>
  </div>

  <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

  {{ form_end(form) }}
</div>
