{% extends 'Back.html.twig' %}

{% block title %}Espacetalent index{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Idest</th>
              <th scope="col">Username</th>
              <th scope="col">Image</th>
              <th scope="col">Nbvotes</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for espacetalent in espacetalents %}
            <tr>
              <td>{{ espacetalent.idest }}</td>
              <td>{{ espacetalent.username }}</td>
              <td><img src="{{ asset('uploads/' ~espacetalent.image) }}" style="width: 150px; height: 150px;" alt="" /></td>
              <td>{{ espacetalent.nbvotes }}</td>

              <td>
                <div class="d-flex justify-content-center">
                  <a href="{{ path('app_espace_show', {'idest': espacetalent.idest}) }}" class="btn btn-primary me-2">Show</a>
                  <a href="{{ path('app_espace_edit', {'idest': espacetalent.idest}) }}" class="btn btn-success me-2">Edit</a>
                  {{ include('espace/_delete.html.twig') }}
                </div>
              </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="5">No records found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center">
        <a href="{{ path('app_espace_new') }}" class="btn btn-primary">Create new</a>
        <a href="{{ path('api_generate_pdf') }}" class="btn btn-warning">Generate PDF</a>


      </div>
  </div>
</div>
{% endblock %}
