{% extends 'Back.html.twig' %}


{% block body %}

  <div class="row">
    <div class="col-md-12">

      <div class="d-flex justify-content-end mb-3">
      <form action="{{ path('app_espace_index') }}" method="get">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher par username, nbVotes ou ID" name="searchQuery" value="{{ app.request.query.get('searchQuery') }}">
        <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
</form>

        <div class="ms-3">
          <a href="{{ path('app_espace_index', {'sort': 'username'}) }}" class="btn btn-outline-primary">Trier par username</a>
        </div>

        <div class="ms-3">
          <a href="{{ path('app_espace_index', {'sort': 'nbvotes'}) }}" class="btn btn-outline-primary">Trier par nbVotes</a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="table-secondary">
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Image</th>
              <th scope="col">NbVotes</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for espacetalent in espacetalents %}
            <tr>
              <td>{{ espacetalent.idest }}</td>
              <td>{{ espacetalent.username }}</td>
              <td><img src="{{ asset('uploads/' ~espacetalent.image) }}" style="width: 150px; height: 150px;" alt="" /></td>
              <td>{{ espacetalent.nbvotes }}</td>

              <td>
                <div class="d-flex justify-content-center">
                  <a href="{{ path('app_espace_show', {'idest': espacetalent.idest}) }}" class="btn btn-primary me-2"><i class="fas fa-eye"></i> Voir</a>
                  <a href="{{ path('app_espace_edit', {'idest': espacetalent.idest}) }}" class="btn btn-success me-2"><i class="fas fa-edit"></i> Modifier</a>
                  {{ include('espace/_delete.html.twig') }}
                </div>
              </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

                    
      <div class="d-flex justify-content-center">
  <a href="{{ path('app_espace_new') }}" class="btn btn-primary mx-2">
  <i class="fas fa-plus"></i> Add espace talent
</a>
<a href="{{ path('generator_service') }}" class="btn btn-secondary mx-2">
  <i class="fas fa-file-pdf"></i> PDF
</a>
<a href="{{ path('app_stat_index') }}" class="btn btn-warning text-white mx-2">
  <i class="fas fa-chart-bar"></i> Statistics
</a>


      </div>

    </div>
  </div>

{% endblock %}
