
{% extends 'Back.html.twig' %}


{% block body %}
  <div class="row">
    <div class="col-md-12">

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="table-secondary">
              <th scope="col">ID</th>
              <th scope="col">Name of contrat</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for contrat in pagination %}
              <tr>
                <td>{{ contrat.idc }}</td>
                <td>{{ contrat.nomc }}</td>
                <td>{{ contrat.DateDC }}</td>
                <td>{{ contrat.DateFC }}</td>
                <td>
                  <div class="d-flex justify-content-center">
                    <a href="{{ path('app_contrat_show', {'idc': contrat.idc}) }}" class="btn btn-primary me-2"><i class="fas fa-eye"></i> Show</a>
                    <a href="{{ path('app_contrat_edit', {'idc': contrat.idc}) }}" class="btn btn-success me-2"><i class="fas fa-edit"></i> Edit</a>
                                                         {{ include('contrat/_delete_form.html.twig') }}

                  </div>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

<div class="d-flex justify-content-center">
        <a href="{{ path('app_contrat_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Add new Contractt</a>
              <a href="{{ path('generator_serviceA') }}" class="btn btn-warning"><i class="fas fa-plus"></i> pdf</a>

      </div>

<div  style="margin-left: 526px;" >
        <style>
 .pagination {
    height: 40px;
    margin: 20px 10px;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 0px;
}

.pagination li {
    display: inline;
}

.pagination a,
.pagination span {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination a:hover,
.pagination .active a,
.pagination .active span {
    background-color: #f5f5f5;
}

.pagination .active a,
.pagination .active span {
    color: #999999;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a,
.pagination li:last-child span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}
 </style>
                                 {{ knp_pagination_render(pagination) }} 
                    
                                     </div>
                        </div>

</div>


    
     
{% endblock %}