<html>
<head>
<title>My Email Yotalent</title>
</head>
<body>
<span><img src="{{ asset('uploads/'~evenement.imageev) }}" alt="{{ evenement.nomev }}" width="89" height="75"></span>

<p>Dans le cadre du pré lancement de notre événement <span strong style="color:red;">{{evenement.nomev}}</span>  <span strong style="color:blue;">Yotalent</span> vous invitent pour  passer une merveilleuse journée qui debutera le  {{evenement.datedev  }} et se termine le {{evenement.datefev ? evenement.datefev }} . Nous sommes ravis de vous avoir parmi nous pour partager des moments agréables ensemble.</p> 

<p>Bien vouloir vous inscrire via ce <a href="http://127.0.0.1:8000/evenement/front">lien</a> </p>

<p>Le paiement des frais se fait dès lundi matin et au plus tard le mardi. Places très limitées !</p>

<p>Contacts :

*Ibtihel chebbah, Trésorier :26892848

* Hadir elayeb, R.Events : 23781138

* sarra Ben Hmidha , Vice président : 54605056

Follow us on Instagram 
</p>
</body>
<html>
